
/*
font-family: 'Great Vibes', cursive;
font-family: 'Prata', serif;
font-family: 'Rubik', sans-serif;
*/

.slogan {
    font-family: 'Great Vibes';
    color: #c8693a;
}
.hq {
    background-color: #261e1c;
}