@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&family=Rubik&display=swap');

.testimonials-header {
    padding: 0px 15px 0px 15px;
    margin: 50px 0px 0px 0px;
    text-align: center;
}
.slogan {
    font-family: 'Great Vibes';
    color: #c8693a;
    text-align: center;
}

.title-connect{
    text-align: center;
    color: #fff; 
    font-family: 'Prata';
}
.awards-logo{
    margin: 20px 0px 0px 0px;
}

.text-content {
    font-family: 'Rubik';
    color: #fff;
    color: #fff;
    text-align: center;
}

div.reviews{
    font-family: 'Rubik';
    color: rgb(137, 128, 130);
    text-align: center;
    color: rgb(137, 128, 130);
}
.testimonials {
    background-color: #261e1c;
    padding: 50px 0px 50px 0px;
}

.blog{
    background-color: #261e1c;
    padding: 50px 0px 60px 0px;
}

.hq {
    background-color: #261e1c;
}