@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&family=Rubik&display=swap');

.slogan {
    font-family: 'Great Vibes';
    color: #c8693a;
    text-align: center;
}

.text-content {
    font-family: 'Prata';
    text-align: center;
    color: #fff;
}

.testimonials {
    background-color: #261e1c;
}

.blog{
    background-color: #261e1c;
}

.hq {
    background-color: #261e1c;
}