@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&family=Rubik:wght@300&display=swap');

.facts{
    background-color: #261e1c;
    padding-left: 30px;
}

h4{
    color: #ffff;
}

.facts p{
    color:#857b7d;
}

.facts img{
    padding: 10px;
    width: 70px;
    height: 70px;
}

.facts-line{
    height: 2px;
    width: 15%;
    max-width: 50px;
    background-color: #c8693a;
}

#facts-text{
    padding-top: 20px;   
}

footer{
    background-color: #1a1512;
}

.join {
    padding-top: 50px;
    margin-left: 20px;
    display: block;
}

.join-our h3{
    color: white;
}

.join-our p{
    color: white;
}

.contact-us-p{
    color:#857b7d;
}

.icons img{
    width: 30px;
    height: 30px;
}

.buttons-href a{
    color:#857b7d;
}

.contact-us{
    padding-top: 20px;
    display: block;
}

.contact-line{
    height: 2px;
    width: 15%;
    max-width: 50px;
    background-color: #c8693a;
    margin: auto;
}

#contact-info{
    padding-top: 20px;
}

.buttons-href h4{
    padding-top: 20px;
}

@media screen and (min-width: 500px) {
    .facts {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 980px) {
    .facts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width:750px) {
    .contact-us-blocks{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
    .buttons-href{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}