@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&family=Rubik:wght@300&display=swap');

 header {
     background-image: url(../img/header-section/background.jpg);
     background-size: cover;
     background-position: right;
     display: block;
     min-width: 320px;
}

div .header {
display: block;
justify-content: space-between;
align-content: space-between;
}

div .content-header {
    display: flex;
    padding-top: 22px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 22px;
    justify-content: space-between;
}

.header-logo > img {
    display: block;
    width: 176px;
}

header div .menu > a {
    font-family: Rubik, sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
}
div .soc-icon > img {
    border: 0.01em solid;
    border-radius: 2px;
    background-color: white;
    width: 12px;
    height: 12px;
    padding: 5px;
}

div .content-hero{
    display: block;
    padding-top: 110px;
    padding-bottom: 130px;
    padding-left: 24px;
    padding-right: 24px;
}
.content-hero > h5 {
    display: block;
    font-family: "Great Vibes", sans-serif;
    font-size: 14px; 
    color: rgb(200, 105, 58);
    text-align: left;
}
.content-hero > h1 {
    display: block;
    font-family: Prata, sans-serif;
    font-size: 58px; 
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
}
.content-hero > img{
    display: block;
    margin-top: 35px;
    max-width: 100%;
    height: 32px;
}
.content-hero > p {
    display: block;
    font-family: Rubik, sans-serif;
    font-size: 18px;  
    color: rgb(255, 255, 255); 
    margin-top: 20px;
    text-align: left; 
}
header div .buttons {
  display: block;
  margin-top: 35px;
}
@media (min-width: 345px) {

    header div .buttons {
        display: flex;
    }
}
div .shop-now {
    display: flex;
    font-family: Rubik, sans-serif;
    font-size: 16.5px; 
    font-weight: bold;
}
div .shop-now > a  {
    padding: 18px 26px 18px 26px;
    margin-bottom: 20px;
    margin-right: 22px;
    border:  0.01em solid;
    border-color: rgb(200, 105, 58);
    color: rgb(255, 255, 255);
    background-color: rgb(200, 105, 58);
    border-radius: 2px;
}
div .learn-more {
    display: flex;
    font-family: Rubik, sans-serif;
    font-size: 16.5px;
    font-weight: bold;
}   
div .learn-more > a {
    padding: 18px 26px 18px 26px;
    border: solid white;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    margin-bottom: 20px;
}