@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&family=Rubik:wght@300&display=swap');

 header {
     background-image: url(../img/header-section/background.jpg);
     background-size: cover;
     display: block;
     position: relative;
    }
 header > nav {
     display: block;
     padding: 0 24px 0 24px;
 }
.header-logo > img {
    align-items: center;
    display: flex;
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 176px;
    height: 44px;
}
div.menu {
    display:flex;
    flex-direction: column;
}
div.menu > a {
   font-family: Rubik, sans-serif;
   font-size: 16px;
   color: rgb(255, 255, 255);
   
}
.soc-icon > img  {
   border: 0.01em solid white;
   border-radius: 2px;
   background-color: white;
   width: 12px;
   height: 12px;
   padding: 5px;
   
}
.hero {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}
.hero > h5 {
    font-family: "Great Vibes", sans-serif;
    font-size: 14px; 
    color: rgb(200, 105, 58);
    text-align: left;
}
.hero > h1 {
    display: block;
    font-family: Prata, sans-serif;
    font-size: 58px; 
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
    max-width: 100%;
}
.hero > img{
    display: block;
    max-width: 100%;
    height: 32px;
    width: 272px;
}
.hero > p {
    font-family: Rubik, sans-serif;
    font-size: 18px;  
    color: rgb(255, 255, 255);  
}
div .shop-now {
    display: flex;
    margin: 10px 10px 10px 10px;
    font-family: Rubik, sans-serif;
    font-size: 16.5px; 
    font-weight: bold;
}
div .shop-now > a  {
    display: block;
    padding: 18px 26px 18px 26px;
    border:  solid orange;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: orange;
    border-radius: 2px;
}
div .learn-more {
    display: flex;
    margin: 10px 10px 10px 10px;
    font-family: Rubik, sans-serif;
    font-size: 16.5px;
    font-weight: bold;
    max-width: 100%;
}   
div .learn-more > a {
    display: block;
    padding: 18px 26px 18px 26px;
    border: solid white;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 2px;
}