@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&family=Rubik&display=swap');

/*
font-family: 'Great Vibes', cursive;
font-family: 'Prata', serif;
font-family: 'Rubik', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
}

:root {
    font-size: 16px;
}

h3 {
    font-family: 'Great Vibes';
    font-size: 1.75rem;
    /*28px*/
    color: #c8693a;
}

h2 {
    font-family: 'Prata';
    font-size: 3rem;
    /*28px*/
    color: #ffffff;
}

.h-preference {
    font-size: 1.375rem;
    /*28px*/
    line-height: 1.5;
    font-family: Prata, serif;
    font-weight: 400;
    color: #ffffff;
}

.p-preference {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: rgb(137, 128, 130);
    /*color: #ffffff;  (коли буде фон то потрібно замінити)*/
}

p {
    font-family: 'Rubik';
    font-size: 18px;
    color: #000000;
    /*color: #ffffff;  (коли буде фон то потрібно замінити)*/
}

.orange-line {
    height: 2px;
    width: 40px;
    background-color: #c8693a;
}

.arrow {
    height: 24px;
    width: 24px;
    padding-left: 8px;
}

.bottle-wine-special {
    box-sizing: border-box;
    height: 555px;
    width: 370px;
}

.play-img {
    height: 70px;
    width: 70px;
}

.play-text {
    font-size: 0.875rem;
    line-height: 1.6;
    font-family: Rubik, sans-serif;
    font-weight: 400;
    color: #000000;
    /*color: #ffffff;  (коли буде фон то потрібно замінити)*/
}

/*
.link-with-arrow {
}
*/


a {
    text-decoration: none;
}

.text-link-main {
    font-size: 0.9375rem;
    line-height: 1em;
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.our-special-wines-plus-cards {
    background-color: #261e1c;
}

.anchor-on-page {
    height: 656px;
    display: flex;
    justify-content: space-around;
}

.special-events-card {
    background: url(../img/our-wines--traditional/for-your-special-events.webp) no-repeat;
    background-size: cover;
}

.organic-wines-card {
    background: url(../img/our-wines--traditional/organic-wines.webp) no-repeat;
    background-size: cover;
}

.grape-varieties-card {
    background: url(../img/our-wines--traditional/selected-grape-varieties.webp) no-repeat;
    background-size: cover;
}

.info-card {
    width: 30%;
}

.our-wines-special {
    height: 980px;
}

.row {
    display: flex;
}

.bottle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column-center,
.column-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#our-wines {
    background-color: #261e1c;
}

.assortment {
    display: flex;
    justify-content: space-around;
}

.card-vine-shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.assortment-bottle-image {
    height: 227px;
    width: 227px;
}

.add-to-card {
    background-color: #c8693a;
}