@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&family=Rubik&display=swap');

/*
font-family: 'Great Vibes', cursive;
font-family: 'Prata', serif;
font-family: 'Rubik', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
}

:root {
    font-size: 16px;
}

.decor-text-font {
    font-family: 'Great Vibes';
    color: #c8693a;
}

.h-dark-background-font,
.h-image-background-font {
    font-family: 'Prata';
    color: #ffffff;
}

.text-under-decor-font {
    font-family: 'Rubik', sans-serif;
    font-size: 1.125rem;
    font-weight: normal;
    color: #ffffff;
}

.h-preference-font,
.h-info-card-font {
    font-size: 1.375rem;
    line-height: 1.5;
    font-family: Prata, serif;
    font-weight: 400;
    color: #ffffff;
}

.just-text-font {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: rgb(137, 128, 130);
}

.arrow {
    height: 24px;
    width: 24px;
    padding-left: 8px;
}

a {
    text-decoration: none;
}

.our-special-wines-plus-cards,
#our-wines {
    background-color: #261e1c;
}

.name-wine-font {
    font-family: "Rubik", "sans-serif";
    font-size: 1.25rem;
    font-weight: normal;
    color: #ffffff;
}

.price-font {
    font-family: "Rubik", "sans-serif";
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
}

.add-to-card-button {
    font-family: "Rubik", "sans-serif";
    font-size: 0.9375rem;
    font-weight: 700;
    color: #ffffff;
    background-color: #c8693a;
}


