.container{
    min-width:980px ;
    margin: ;
}

.orange-line {
  height: 2px;
  width: 10%;
  max-width: 40px;
  background-color: #c8693a;
}

.text-link-main {
  font-size: 0.9375rem;
  line-height: 1em;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  align-items: center;
}

/* .anchor-on-page {
    padding-top: 120px;
    padding-bottom: 60px;
    height: 656px;
    display: flex;
    justify-content: space-around;

} */

@media (min-width: 320px) {
  .our-special-wines-plus-cards {
    padding: 0 24px 90px;
    width: 100%;
    box-sizing: border-box;
  }

  .anchor-on-page {
    padding-top: 90px;
    width: 100%;
    padding-bottom: 60px;
  }

  .info-card {
    height: 430px;
  }

  .anchor-on-page > section:not(:last-child) {
    margin-bottom: 50px;
  }

  .decor-text {
    font-size: 0.875rem;
    padding-top: 50px;
  }

  .h-dark-background {
    font-size: 2.125rem;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .h-image-background {
    font-size: 3.625rem;
    text-align: center;
  }

  .our-wines-special-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-under-decor {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .bottle-wine-special {
    width: 100%;
  }

  .preference {
    margin: 50px 20px 0;
  }

  .preference > .orange-line {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  /* discover our wines */

  .discover-our-wines {
    height: 758px;
    padding-left: 24px;
    padding-right: 24px;
    background-image: url("../img/our-wines--traditional/background-discover-our-wines.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .discover-our-wines > .h-image-background {
    margin-top: 25px;
    margin-bottom: 15px;
  }

  .text-under-decor-image-backgound {
    text-align: center;
    margin-top: 40px;
  }

  .two-button {
    flex-direction: column;
    margin-top: 50px;
  }

  .button-learn-more {
    margin-top: 25px;
  }
}

.special-events-card {
  background: url(../img/our-wines--traditional/for-your-special-events.webp)
    no-repeat;
  background-size: cover;
}

.organic-wines-card {
  background: url(../img/our-wines--traditional/organic-wines.webp) no-repeat;
  background-size: cover;
}

.grape-varieties-card {
  background: url(../img/our-wines--traditional/selected-grape-varieties.webp)
    no-repeat;
  background-size: cover;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 30px;
  padding-bottom: 30px;
}

.info-card > .orange-line,
.info-card > .just-text {
  margin-top: 15px;
}

.info-card > .link-with-arrow {
  margin-top: 30px;
}

@media (min-width: 320px) {
  #our-wines {
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
  }

  .assortment {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* .our-wines-special {
    height: 980px;
} */

/* .our-wines-special-text {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/*.row {
    display: flex;
} */

/* .bottle {
        display: flex;
        flex-direction: column;
        justify-content: center;
    } */

/* .column-center,
    .column-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } */

.discover-our-wines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.two-button {
  display: flex;
  justify-content: center;
}

.title-our-wines {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .assortment {
  display: flex;
  justify-content: space-around;
} */

.card-wine-shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.assortment-bottle-image {
  width: 100%;
}

.in-vino-with-play-video {
  display: flex;
  flex-direction: column;
  height: 758px;
  padding-left: 24px;
  padding-right: 24px;
  background-image: url("../img/our-wines--traditional/background-discover-our-wines.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.in-vino {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.h-in-vino{
    text-align: left;
}

.play-video {
  display: flex;
  flex-direction: column;
}

.play-img {
  height: 70px;
  width: 70px;
}

.play-text {
  font-size: 0.875rem;
  line-height: 1.6;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.button-learn-more:hover {
  font-family: "Rubik", "sans-serif";
  font-size: 0.9375rem;
  font-weight: 700;
  color: #000000;
}
.button-add-to-card {
  font-family: "Rubik", "sans-serif";
  font-size: 0.9375rem;
  font-weight: 700;
  color: #ffffff;
  height: 46px;
  width: 134px;
  background-color: #c8693a;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 2px;
}

.button-buy-wines {
  font-family: "Rubik", "sans-serif";
  font-size: 0.9375rem;
  font-weight: 700;
  color: #ffffff;
  height: 46px;
  width: 125px;
  background-color: #c8693a;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 2px;
}

.button-learn-more {
  font-family: "Rubik", "sans-serif";
  font-size: 0.9375rem;
  font-weight: 700;
  color: #ffffff;
  height: 46px;
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(r, g, b, a);
  border-radius: 2px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}

