.orange-line {
  height: 2px;
  width: 10%;
  max-width: 40px;
  background-color: #c8693a;
}

.text-link-main {
  font-size: 0.9375rem;
  line-height: 1em;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .anchor-on-page > section:not(:last-child) {
    margin-bottom: 50px;
  }
}

.our-special-wines-plus-cards {
  padding: 0 24px 90px;
  width: 100%;
  box-sizing: border-box;
}

.anchor-on-page {
  padding-top: 90px;
  width: 100%;
  padding-bottom: 60px;
}

.decor-text {
  font-size: 0.875rem;
  padding-top: 50px;
}

.h-dark-background {
  font-size: 2.125rem;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.h-image-background {
  font-size: 3.625rem;
  text-align: center;
}

.our-wines-special-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-under-decor {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.discover-our-wines {
  padding: 100px 24px;
  background-image: url("../img/our-wines--traditional/background-discover-our-wines.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.discover-our-wines > .h-image-background {
  margin-top: 25px;
  margin-bottom: 15px;
}

.text-under-decor-image-backgound {
  text-align: center;
  margin-top: 40px;
}

.bottle-wine-special {
  width: 100%;
}

.preference {
  margin: 50px 20px 0;
}

.preference > .orange-line {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 400px) {
  .two-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }

  .button-learn-more {
    margin-top: 25px;
  }
}

@media (min-width: 400px) {
  .two-button {
    display: flex;
    flex-direction: row;
    margin: 50px auto 0;
  }

  .button-learn-more {
    margin-top: 0;
    margin-left: 30px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .our-special-wines-plus-cards {
    min-width: 768px;
    height: 100%;
  }

  .anchor-on-page {
    padding-top: 105px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }

  .special-events-card {
    grid-area: 1/1/2/7;
  }
  .organic-wines-card {
    grid-area: 1/7/2/13;
  }

  .grape-varieties-card {
    grid-area: 2/4/3/10;
  }

  .info-card {
    height: 453px;
  }

  .our-wines-special {
    height: 980px;
  }
}

@media (min-width: 992px) {
  .anchor-on-page {
    padding-top: 120px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 24px;
  }

  .special-events-card {
    grid-area: 1/1/2/5;
  }

  .organic-wines-card {
    grid-area: 1/5/2/9;
  }

  .grape-varieties-card {
    grid-area: 1/9/2/13;
  }
}

.special-events-card {
  background: url(../img/our-wines--traditional/for-your-special-events.webp)
    no-repeat;
  background-size: cover;
}

.organic-wines-card {
  background: url(../img/our-wines--traditional/organic-wines.webp) no-repeat;
  background-size: cover;
}

.grape-varieties-card {
  background: url(../img/our-wines--traditional/selected-grape-varieties.webp)
    no-repeat;
  background-size: cover;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 30px;
  padding-bottom: 30px;
  height: 420px;
}

.info-card > .orange-line,
.info-card > .just-text {
  margin: 15px 0;
}

.info-card > .link-with-arrow {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
  }

  .bottle {
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .column-center {
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .column-right {
    grid-area: 1/3/2/4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

#our-wines {
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  padding: 90px 24px;
  width: 100%;
  box-sizing: border-box;
}

.assortment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 992px) {
  #our-wines {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .assortment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 32px;
    row-gap: 32px;
  }
  .pinot-noir-assortment-index {
    grid-area: 1/1/2/3;
  }
  .riesling-assortment-index {
    grid-area: 1/3/2/5;
  }
  .zifandel-assortment-index {
    grid-area: 2/1/3/3;
  }
  .soave-assortment-index {
    grid-area: 2/3/3/5;
  }
}

@media (min-width: 992px) {
  #our-wines {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .assortment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 32px;
  }
  .pinot-noir-assortment-index {
    grid-area: 1/1/2/2;
  }
  .riesling-assortment-index {
    grid-area: 1/2/2/3;
  }
  .zifandel-assortment-index {
    grid-area: 1/3/2/4;
  }
  .soave-assortment-index {
    grid-area: 1/4/2/5;
  }
}
.discover-our-wines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-our-wines {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-wine-shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.assortment-bottle-image {
  width: 100%;
}

.in-vino-with-play-video {
  padding-left: 24px;
  padding-right: 24px;
  background-image: url("../img/our-wines--traditional/background-discover-our-wines.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .in-vino-with-play-video-flex {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .in-vino-with-play-video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 32px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .in-vino {
    grid-area: 1/1/2/2;
  }

  .play-video {
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .just-text-in-vino-veritas {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.in-vino {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.h-in-vino {
  text-align: left;
}

.play-video {
  display: flex;
  flex-direction: column;
}

.play-img {
  height: 70px;
  width: 70px;
}

.play-text {
  font-size: 0.875rem;
  line-height: 1.6;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.button-add-to-card {
  font-family: "Rubik", "sans-serif";
  font-size: 0.9375rem;
  font-weight: 700;
  color: #ffffff;
  height: 46px;
  width: 134px;
  background-color: #c8693a;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 2px;
}

.button-buy-wines {
  font-family: "Rubik", "sans-serif";
  font-size: 0.9375rem;
  font-weight: 700;
  color: #ffffff;
  height: 46px;
  width: 125px;
  background-color: #c8693a;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 2px;
}

.button-buy-wines:hover {
  font-family: "Rubik", "sans-serif";
  font-size: 0.9375rem;
  font-weight: 700;
  color: #ffffff;
  height: 46px;
  width: 125px;
  background-color: rgba(200, 105, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 2px;
}

.button-learn-more {
  font-family: "Rubik", "sans-serif";
  font-size: 0.9375rem;
  font-weight: 700;
  color: #ffffff;
  height: 46px;
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(r, g, b, a);
  border-radius: 2px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}

.button-learn-more:hover {
  font-family: "Rubik", "sans-serif";
  font-size: 0.9375rem;
  font-weight: 700;
  color: #000000;
  height: 46px;
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
}
