

* {
    padding: 0;
    margin: 0;
}

:root {
    
    font-size: 16px;
    
}

body {
    background-color: #261e1c;
}

header > nav {
    background-color: #1a1513;
    padding: 5px;
}

@media (min-width: 980px) {
    header > nav > .container{
        display: flex;
    }
}

.fixed-logo {
    width: 150px;
    height: auto;
    padding: 20px;

}

.hamburg-menu {
    width: 26px;
    height: auto;
}

header nav .menu {
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
}

@media (min-width: 980px) {
    header nav .menu {
        flex: 1;
        flex-direction: row;
    }
}


header .social-icons {
    width: 21px;
    height: auto;
}

header nav .menu a {
    color: white;
    text-decoration: none;
}

header nav .menu a:hover {
    font-weight: bold;
       
}





.name-of-page {
    font-family: 'Prata', serif;
    font-size: 1.75rem;
    color: white;
}


.products {
font-family: 'Great Vibes', cursive;
}



