

* {
    padding: 0;
    margin: 0;
}

:root {
    
    font-size: 16px;
    scroll-behavior: smooth;
    
}

main {

    background-color: #261e1c;
    padding: 25px;
}



.bold-number-text {
    font-family: Rubik, sans-serif;
    font-size: 1.15rem;
    font-weight: 600;
    color: white;
    margin-top: 16px;
}

.bold-main-text {
    font-family: Rubik, sans-serif;
    font-size: 1.05rem;
    color: white;
    margin-top: 8px;
}

header > nav {
    background-color: #1a1513;
    padding: 25px;
}




@media (min-width: 800px) {
    header > nav > .container{
        display: flex;
        
    }
    
}

.container {
    max-width: 1024px;
    margin: auto;
}

main .block-bg {
    max-width: 1024px;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fixed-logo {
    width: 150px;
    height: auto;
    
}

.burger-logo {
    
    width: 35px;
    height: auto;
    float: right;
    
}

.icon {
    width: 26px;
    margin-left: 10px;
        
}

header nav .menu {
    display: none;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    
}

.social-icons {
    display: none;
        
}

#burger-checkbox {
    display: none;
}

#burger-checkbox:checked ~ .menu {
    display: flex;
}

@media (min-width: 800px) {
    .burger-icon {
        display: none;
    }
 
    header nav .menu {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 16%;
    
    }
    
    .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
        
    }
}



header nav .menu a {
    color: white;
    text-decoration: none;
}

header nav .menu a:hover {
    font-weight: bold;
       
}

.backet-position {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 25px;

}

.backet {
    width: 50px;
    height: auto;
       
    z-index: 3;
    
}

.wine-image {
    display: flex;
    width: 100%;
    height: auto;
    
}

main .products > article {
    margin-top: 36px;
}

.button {
    padding: 0.25em 1.25em;
    border: 0.15em solid #c8693a;
    border-radius: 0.15em;
    background-color: #c8693a;
    font-family: Rubik, sans-serif;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 24px;
}


.name-of-page {
    font-family: 'Prata', serif;
    font-size: 1.75rem;
    color: white;
    margin-top: 16px;
}

.pagination-active-link {
    color: white;
    font-family: Rubik, sans-serif;
    font-size: 1rem;
    padding: 0.1em 0.5em;
    border: 0.1em solid #c8693a;
    border-radius: 0.15em;
    background-color: #c8693a;
    text-align: center;
   
       
}

.text-page {
    color: white;
    font-family: Rubik, sans-serif;
    font-size: 0.75rem;
       
}

.pages {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#quantityProductsOnPage {
    color: #1a1513;
    background-color: white;
    text-decoration: none;
    border: 0.1em solid #1a1513;
    border-radius: 0.15em;
    margin-top: 16px;
    text-align: center;
   
}

@media (min-width: 500px) {
    main .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 16px;
    }
}

@media (min-width: 800px) {
    main .products {
        
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 980px) {
    main .products {
        grid-template-columns: repeat(4, 1fr);
        
    }
}



