

* {
    padding: 0;
    margin: 0;
}

:root {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    
}

body {
    background-color: #261e1c;
}

.icon-menu {
    width: auto;
    height: 25px;
}
.fixed-logo {
    width: 176px;
    height: auto;

}

header > nav {
    background-color: #1a1513;
}

header .menu {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-weight: 500;
}

header nav .menu a {
    color: white;
    text-decoration: none;
}

header nav .menu a:hover {
    font-weight: bold;
       
}

header .social-icons {
    width: 45px;
    height: auto;
}

div .social-box {
    width: 45px;
    height: auto;
    border: 1.5px solid #c8693a;
    
    

}

.name-of-page {
    font-family: 'Prata', serif;
    font-size: 1.75rem;
    color: white;
}


.products {
font-family: 'Great Vibes', cursive;
}



