/* font-family: 'Great Vibes', cursive;
font-family: 'Prata', serif;
font-family: 'Rubik', sans-serif; */

/* awards section */

.awards {
    background-color: #261e1c;
}

.awards-suptitle {
    color: #c8693a;
    font-family: 'Great Vibes', cursive;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 50px;
}

.awards-title {    
    font-family: 'Prata', serif;
    color: #fff;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

div .awards-decor {
    text-align: center;
    margin-bottom: 20px;
}
.awards-subtitle {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.awards-icon {
    max-width: 340px;
    display: block;
    margin: auto;
}


.awards-nominee {
    font-family: 'Rubik', sans-serif;
    color: #fff;
    font-size: 18px;
    margin-top: 50px;
}

.awards-year {    
    font-family: 'Prata', serif;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin-top: 40px;
}

.awards-about {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: rgb(137, 128, 130);
    margin-top: 40px;
}

@media (min-width: 760px) {
    .awards-row {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr 6fr;
        align-items: center;
    }

    .awards-icon {
        max-width: 130px;
        margin-right: 20px;
    }

    .awards-nominee {
        margin-right: 20px;
        margin-top: 20px;
    }

    .awards-year {
        margin-right: 20px;
        margin-top: 10px;
    }
}