
* {
    padding: 0;
    margin: 0;
}

:root {
    
    font-size: 16px;
    scroll-behavior: smooth;
    --main-color: #261e1c;
    --accent-header-color: #1a1513;
    --accent-footer-color: rgb(27, 22, 19);
    --accent-decor-color: #c8693a;
    --accent-dark-color: rgb(19, 15, 14);
    
}


.wine-table {
    background-color: var(--main-color);
    
}

.wines-to-every-table {
    max-width: 1024px;
    margin: auto;
    padding: 25px;
}

.wines-to-every-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.bold-main-text {
    font-family: Rubik, sans-serif;
    font-size: 1.25rem;
    color: white;
    text-align: center;
    margin-bottom: 25px;
    
    line-height: 2rem;
}

.decor-text-wine-traditional {
    color: var(--accent-decor-color);
    font-family: 'Great Vibes', cursive;
    font-size: 1.75rem;
    margin-bottom: 25px;
    margin-top: 50px;

}

.name-of-section {
    color: white;
    font-family: 'Prata', serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 25px;
}

.main-decor-element {
    margin-bottom: 25px;
}

.bold-main-text-center {
    font-family: Rubik, sans-serif;
    font-size: 1.25rem;
    color: white;
    text-align: center;
    line-height: 2rem;
    margin-top: 16px;
}

.bold-number-text-center {
    font-family: Rubik, sans-serif;
    font-size: 1.15rem;
    font-weight: 600;
    color: white;
    text-align: center;
    
}

.photo-and-description-year {
    color: var(--main-color);
    padding: 25px;
}

.products-carusel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wine-image {
    display: flex;
    width: 100%;
    height: auto;
    
}

.products-carusel > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
    align-items: center;
}

.button-info {
    padding: 0.25em 1.25em;
    border: 0.15em solid white;
    border-radius: 0.15em;
    background-color: transparent;
    font-family: Rubik, sans-serif;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 16px;
    justify-content: center;
}

.button-info:hover {
    color: var(--main-color);
    background-color: white;
    cursor: pointer;
}





.photo-with-many-bottles {
    max-width: 1024px;
    margin: auto;
}

.many-bottles {
    display: flex;
    width: 100%;
    height: auto;
}

.year-and-description {
    max-width: 1024px;
    margin: auto;
}

.year-description {
    margin-top: 50px;
}

.year-text {
    color: var(--accent-decor-color);
    font-family: Rubik, sans-serif;
    font-style: italic;
    font-size: 1.15rem;
    
}

.name-of-article {
    font-family: 'Prata', serif;
    font-size: 1.5rem;
    color: white;
    margin-top: 25px;
}

.orange-line {
    background-color: var(--accent-decor-color);
    width: 50px;
    height: 2.25px;
    margin: 8px 0px 8px 0px;

}

.grey-main-text {
    font-family: Rubik, sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    color: rgba(215, 215, 215, 0.5);
    text-decoration: none;
    margin-top: 25px;
    
}

@media (min-width: 800px) {
    .year-and-description {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }
    
}


@media (min-width: 1024px) {
    .year-and-description {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 25px;
        
    }
    
}


.background-one-wine {
    background-image: url(../img/wine-table-traditional/back-bottle-new.png);
    background-size: cover;
    background-position: right;
    min-height: auto;
    margin-top: 50px;
    
      
    
}

.name-of-section-left {
    color: white;
    font-family: 'Prata', serif;
    font-size: 2.5rem;
    
    margin-bottom: 25px;
}

.bold-main-text-left {
    font-family: Rubik, sans-serif;
    font-size: 1.25rem;
    color: white;
    
    margin-bottom: 25px;
    
    line-height: 2rem;
}

.different-wine-description {
    max-width: 1024px;
    margin: auto;
    padding: 25px;
    
    
}


.wine-description-background-bottle {
    display: flex;
    flex-direction: column;
        
}

.tire {
    color: var(--accent-decor-color);
}

.grey-main-text-left {
    font-family: Rubik, sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    color: rgba(215, 215, 215, 0.5);
    text-decoration: none;
    
    
}


.last-el-in-description {
    margin-bottom: 50px;
}

@media (min-width: 740px) {
    .different-wine-description {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
}

}

@media (min-width: 900px) {
    .different-wine-description {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
}

}
@media (min-width: 1024px) {
    .different-wine-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
}

}



